# Тестовое

In [38]:
import pandas as pd
pd.set_option('display.max_colwidth', 50)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

from IPython.display import FileLink

from sqlalchemy import text, create_engine

# Укажите путь к вашему CSV/Excel/JSON файлу
file_path = 'C:\\Users\\Пользователь\\OneDrive\\Рабочий стол\\data.csv'

# Загрузите данные из файла в объект DataFrame
df = pd.read_csv(file_path)

# Укажите параметры подключения к вашей базе данных PostgreSQL
username = 'postgres'
password = 'Vbkkbfhlth2022'
host = 'localhost'
port = '5432'
database = 'postgres'

# Укажите путь к вашему файлу сертификата SSL
ssl_cert = 'path_to_your_ssl_certificate.pem'

# Формируем строку подключения с параметрами SSL и тайм-аутом
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'

# Создаем соединение
engine = create_engine(connection_string)
con=engine.connect()

# Пример запроса SQL и его выполнение
sql_query = "SELECT * FROM public.test"
df = pd.read_sql(sql_query, engine)

# Вывод результата
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Склад           2050 non-null   object
 1   Дата            2050 non-null   object
 2   Продажи рублей  2050 non-null   float64
dtypes: float64(1), object(2)
memory usage: 48.2+ KB

         Склад        Дата  Продажи рублей
0      Склад 1  2013-01-08      1776309.00
1      Склад 1  2013-01-09      1670458.80
2      Склад 1  2013-01-13      2065636.40
3      Склад 1  2013-01-14      1736802.80
4      Склад 1  2013-01-15      1689900.80
...        ...         ...             ...
2045  Склад 66  2015-12-20       922448.00
2046  Склад 66  2015-12-23       958763.80
2047  Склад 66  2015-12-27      1072242.50
2048  Склад 66  2015-12-28      1222390.70
2049  Склад 66  2015-12-31      3102067.70

[2050 rows x 3 columns]

## 1.Отчёт по дням

Вариант решения через **FULL JOIN** и **INTERVAL**, чтобы сохранились все строки и отображались данные по полям *Склад* и *Дата* использовали функцию **COALESCE**.

In [119]:
query = """
SELECT COALESCE(t1.Склад, t2.Склад, t3.Склад) Склад, COALESCE(t1.Дата, t2.Дата + INTERVAL '1 year', t3.Дата + INTERVAL '1 month') Дата, 
    t1."Продажи рублей"/1000 AS "Продажи, тыс.руб.",
    t2."Продажи рублей"/1000 AS "Продажи предыдущего года, тыс.руб.",
    t3."Продажи рублей"/1000 AS "Продажи предыдущего месяца, тыс.руб."
FROM 
    public.test t1
FULL JOIN
    public.test t2 ON t1.Склад = t2.Склад AND  t2.Дата = t1.Дата - INTERVAL '1 year'
FULL JOIN
    public.test t3 ON t1.Склад = t3.Склад AND  t3.Дата = t1.Дата - INTERVAL '1 month'
WHERE t1."Продажи рублей" IS NOT NULL OR t2."Продажи рублей" IS NOT NULL OR t3."Продажи рублей" IS NOT NULL
ORDER BY Дата, Склад;
"""
df1 = pd.io.sql.read_sql(sql=text(query), con = con)
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5068 entries, 0 to 5067
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Склад                               5068 non-null   object
 1   Дата                                5068 non-null   datetime64[ns]
 2   Продажи, тыс.руб.                   2050 non-null   float64
 3   Продажи предыдущего года, тыс.руб.  2050 non-null   float64
 4   Продажи предыдущего месяца, тыс.ру  2086 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 198.1+ KB

,Склад,Дата,"Продажи, тыс.руб.","Продажи предыдущего года, тыс.руб.","Продажи предыдущего месяца, тыс.ру"
0,Склад 206,2013-01-01,416.54,NaN,NaN
1,Склад 23,2013-01-01,2415.13,NaN,NaN
2,Склад 66,2013-01-02,1067.76,NaN,NaN
3,Склад 143,2013-01-03,1551.47,NaN,NaN
4,Склад 206,2013-01-03,970.80,NaN,NaN
...,...,...,...,...,...
5063,Склад 143,2016-12-28,NaN,1341.61,NaN
5064,Склад 66,2016-12-28,NaN,1222.39,NaN
5065,Склад 1,2016-12-29,NaN,1675.48,NaN
5066,Склад 227,2016-12-31,NaN,1707.51,NaN
5067,Склад 66,2016-12-31,NaN,3102.07,NaN

In [120]:
df1.to_excel('Отчёт_суточный.xlsx', index=False)

excel_filename = 'Отчёт_суточный.xlsx'

FileLink(excel_filename)

C:\Windows\system32\Отчёт_суточный.xlsx

Вариант с RIGHT JOIN не имеет смысла, т.к. у нас есть строки, где в полях продаж в аналогичный период предыдущего месяца и года, не везде имеют данные одновременно.

## 2.Отчёт помесячный

In [121]:
query = """
SELECT t1.Склад, EXTRACT(YEAR from t1.Месяц) Год,  EXTRACT(MONTH from t1.Месяц) Месяц, t1."Продажи, тыс.руб.",
    t2."Продажи, тыс.руб." AS "Продажи предыдущего года, тыс.руб.",
    t3."Продажи, тыс.руб." AS "Продажи предыдущего месяца, тыс.руб."
FROM 
    (SELECT Склад, DATE_TRUNC('month', Дата) Месяц, SUM("Продажи рублей"/1000) "Продажи, тыс.руб."
    FROM public.test
    GROUP BY Склад, DATE_TRUNC('month', Дата)) t1
LEFT JOIN
    (SELECT Склад, DATE_TRUNC('month', Дата) Месяц, SUM("Продажи рублей"/1000) "Продажи, тыс.руб."
    FROM public.test
    GROUP BY Склад, DATE_TRUNC('month', Дата)) t2 ON t1.Склад = t2.Склад AND t2.Месяц = t1.Месяц - INTERVAL '1 year'
LEFT JOIN
    (SELECT Склад, DATE_TRUNC('month', Дата) Месяц, SUM("Продажи рублей"/1000) "Продажи, тыс.руб."
    FROM public.test
    GROUP BY Склад, DATE_TRUNC('month', Дата)) t3 ON t1.Склад = t3.Склад AND t3.Месяц = t1.Месяц - INTERVAL '1 month'
ORDER BY Год, Месяц;
"""

# Выполняем запрос и загружаем результат в DataFrame
df2 = pd.read_sql(query, con=engine)

# Выводим DataFrame
df2.info()
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Склад                               252 non-null    object
 1   Год                                 252 non-null    float64
 2   Месяц                               252 non-null    float64
 3   Продажи, тыс.руб.                   252 non-null    float64
 4   Продажи предыдущего года, тыс.руб.  168 non-null    float64
 5   Продажи предыдущего месяца, тыс.ру  245 non-null    float64
dtypes: float64(5), object(1)
memory usage: 11.9+ KB

,Склад,Год,Месяц,"Продажи, тыс.руб.","Продажи предыдущего года, тыс.руб.","Продажи предыдущего месяца, тыс.ру"
0,Склад 51,2013.00,1.00,5911.29,NaN,NaN
1,Склад 66,2013.00,1.00,7150.41,NaN,NaN
2,Склад 206,2013.00,1.00,7177.73,NaN,NaN
3,Склад 227,2013.00,1.00,6054.82,NaN,NaN
4,Склад 143,2013.00,1.00,11753.20,NaN,NaN
5,Склад 1,2013.00,1.00,14498.91,NaN,NaN
6,Склад 23,2013.00,1.00,20434.49,NaN,NaN
7,Склад 1,2013.00,2.00,11704.46,NaN,14498.91
8,Склад 23,2013.00,2.00,5841.94,NaN,20434.49
9,Склад 206,2013.00,2.00,4036.00,NaN,7177.73
10,Склад 51,2013.00,2.00,3575.68,NaN,5911.29
11,Склад 227,2013.00,2.00,4175.28,NaN,6054.82
12,Склад 143,2013.00,2.00,5576.80,NaN,11753.20
13,Склад 66,2013.00,2.00,3427.21,NaN,7150.41
14,Склад 143,2013.00,3.00,6702.38,NaN,5576.80
15,Склад 1,2013.00,3.00,7107.11,NaN,11704.46
16,Склад 23,2013.00,3.00,7510.51,NaN,5841.94
17,Склад 51,2013.00,3.00,5844.86,NaN,3575.68
18,Склад 66,2013.00,3.00,5952.12,NaN,3427.21
19,Склад 227,2013.00,3.00,4043.76,NaN,4175.28
20,Склад 206,2013.00,3.00,4866.19,NaN,4036.00
21,Склад 227,2013.00,4.00,4832.62,NaN,4043.76
22,Склад 1,2013.00,4.00,9903.79,NaN,7107.11
23,Склад 206,2013.00,4.00,3533.88,NaN,4866.19
24,Склад 66,2013.00,4.00,8168.86,NaN,5952.12
25,Склад 51,2013.00,4.00,4974.27,NaN,5844.86
26,Склад 143,2013.00,4.00,6404.60,NaN,6702.38
27,Склад 23,2013.00,4.00,14191.36,NaN,7510.51
28,Склад 1,2013.00,5.00,5221.35,NaN,9903.79
29,Склад 206,2013.00,5.00,3943.52,NaN,3533.88
30,Склад 51,2013.00,5.00,4571.11,NaN,4974.27
31,Склад 143,2013.00,5.00,6573.17,NaN,6404.60
32,Склад 227,2013.00,5.00,4090.82,NaN,4832.62
33,Склад 66,2013.00,5.00,10445.71,NaN,8168.86
34,Склад 23,2013.00,5.00,8499.44,NaN,14191.36
35,Склад 206,2013.00,6.00,3476.63,NaN,3943.52
36,Склад 143,2013.00,6.00,9585.87,NaN,6573.17
37,Склад 51,2013.00,6.00,6216.74,NaN,4571.11
38,Склад 23,2013.00,6.00,11161.72,NaN,8499.44
39,Склад 227,2013.00,6.00,6472.92,NaN,4090.82
40,Склад 66,2013.00,6.00,3620.85,NaN,10445.71
41,Склад 1,2013.00,6.00,6809.75,NaN,5221.35
42,Склад 66,2013.00,7.00,4159.42,NaN,3620.85
43,Склад 1,2013.00,7.00,6336.55,NaN,6809.75
44,Склад 51,2013.00,7.00,4973.99,NaN,6216.74
45,Склад 143,2013.00,7.00,8734.13,NaN,9585.87
46,Склад 227,2013.00,7.00,3500.35,NaN,6472.92
47,Склад 206,2013.00,7.00,5364.80,NaN,3476.63
48,Склад 23,2013.00,7.00,11347.51,NaN,11161.72
49,Склад 51,2013.00,8.00,1933.40,NaN,4973.99
50,Склад 23,2013.00,8.00,6111.33,NaN,11347.51
51,Склад 66,2013.00,8.00,5519.71,NaN,4159.42
52,Склад 206,2013.00,8.00,7231.28,NaN,5364.80
53,Склад 143,2013.00,8.00,781.76,NaN,8734.13
54,Склад 1,2013.00,8.00,7460.07,NaN,6336.55
55,Склад 227,2013.00,8.00,5225.88,NaN,3500.35
56,Склад 227,2013.00,9.00,4690.58,NaN,5225.88
57,Склад 143,2013.00,9.00,8809.11,NaN,781.76
58,Склад 23,2013.00,9.00,11793.91,NaN,6111.33
59,Склад 51,2013.00,9.00,6887.40,NaN,1933.40
60,Склад 1,2013.00,9.00,5957.39,NaN,7460.07
61,Склад 206,2013.00,9.00,6564.66,NaN,7231.28
62,Склад 66,2013.00,9.00,8655.97,NaN,5519.71
63,Склад 227,2013.00,10.00,3997.58,NaN,4690.58
64,Склад 66,2013.00,10.00,7502.18,NaN,8655.97
65,Склад 1,2013.00,10.00,7216.82,NaN,5957.39
66,Склад 51,2013.00,10.00,3654.10,NaN,6887.40
67,Склад 23,2013.00,10.00,9667.92,NaN,11793.91
68,Склад 206,2013.00,10.00,5131.57,NaN,6564.66
69,Склад 143,2013.00,10.00,9442.57,NaN,8809.11
70,Склад 206,2013.00,11.00,6193.21,NaN,5131.57
71,Склад 143,2013.00,11.00,9473.46,NaN,9442.57
72,Склад 66,2013.00,11.00,11347.98,NaN,7502.18
73,Склад 23,2013.00,11.00,13234.83,NaN,9667.92
74,Склад 1,2013.00,11.00,8813.73,NaN,7216.82
75,Склад 227,2013.00,11.00,5556.72,NaN,3997.58
76,Склад 51,2013.00,11.00,5897.75,NaN,3654.10
77,Склад 23,2013.00,12.00,7041.41,NaN,13234.83
78,Склад 206,2013.00,12.00,8599.80,NaN,6193.21
79,Склад 143,2013.00,12.00,5928.49,NaN,9473.46
80,Склад 1,2013.00,12.00,7575.79,NaN,8813.73
81,Склад 51,2013.00,12.00,7759.82,NaN,5897.75
82,Склад 227,2013.00,12.00,6592.22,NaN,5556.72
83,Склад 66,2013.00,12.00,15504.20,NaN,11347.98
84,Склад 23,2014.00,1.00,16234.18,20434.49,7041.41
85,Склад 51,2014.00,1.00,4847.25,5911.29,7759.82
86,Склад 66,2014.00,1.00,5677.68,7150.41,15504.20
87,Склад 227,2014.00,1.00,4769.32,6054.82,6592.22
88,Склад 143,2014.00,1.00,7012.80,11753.20,5928.49
89,Склад 1,2014.00,1.00,6549.41,14498.91,7575.79
90,Склад 206,2014.00,1.00,4004.57,7177.73,8599.80
91,Склад 23,2014.00,2.00,9048.53,5841.94,16234.18
92,Склад 143,2014.00,2.00,10405.37,5576.80,7012.80
93,Склад 1,2014.00,2.00,10037.61,11704.46,6549.41
94,Склад 227,2014.00,2.00,6937.45,4175.28,4769.32
95,Склад 51,2014.00,2.00,6920.19,3575.68,4847.25
96,Склад 206,2014.00,2.00,6177.85,4036.00,4004.57
97,Склад 66,2014.00,2.00,8720.72,3427.21,5677.68
98,Склад 66,2014.00,3.00,9814.31,5952.12,8720.72
99,Склад 23,2014.00,3.00,12121.33,7510.51,9048.53
100,Склад 227,2014.00,3.00,5857.49,4043.76,6937.45
101,Склад 51,2014.00,3.00,5511.21,5844.86,6920.19
102,Склад 143,2014.00,3.00,14342.20,6702.38,10405.37
103,Склад 206,2014.00,3.00,4657.73,4866.19,6177.85
104,Склад 1,2014.00,3.00,7398.63,7107.11,10037.61
105,Склад 51,2014.00,4.00,6828.69,4974.27,5511.21
106,Склад 206,2014.00,4.00,5801.55,3533.88,4657.73
107,Склад 66,2014.00,4.00,4820.28,8168.86,9814.31
108,Склад 23,2014.00,4.00,13101.55,14191.36,12121.33
109,Склад 227,2014.00,4.00,5466.94,4832.62,5857.49
110,Склад 1,2014.00,4.00,13581.25,9903.79,7398.63
111,Склад 143,2014.00,4.00,4763.25,6404.60,14342.20
112,Склад 51,2014.00,5.00,6630.95,4571.11,6828.69
113,Склад 1,2014.00,5.00,6548.30,5221.35,13581.25
114,Склад 227,2014.00,5.00,4051.55,4090.82,5466.94
115,Склад 66,2014.00,5.00,4490.31,10445.71,4820.28
116,Склад 143,2014.00,5.00,6922.99,6573.17,4763.25
117,Склад 206,2014.00,5.00,4229.86,3943.52,5801.55
118,Склад 23,2014.00,5.00,12545.41,8499.44,13101.55
119,Склад 1,2014.00,6.00,13344.84,6809.75,6548.30
120,Склад 227,2014.00,6.00,5716.73,6472.92,4051.55
121,Склад 66,2014.00,6.00,11671.14,3620.85,4490.31
122,Склад 143,2014.00,6.00,9065.54,9585.87,6922.99
123,Склад 23,2014.00,6.00,9078.75,11161.72,12545.41
124,Склад 206,2014.00,6.00,3348.88,3476.63,4229.86
125,Склад 51,2014.00,6.00,8422.15,6216.74,6630.95
126,Склад 227,2014.00,7.00,7386.97,3500.35,5716.73
127,Склад 23,2014.00,7.00,8524.46,11347.51,9078.75
128,Склад 206,2014.00,7.00,5931.03,5364.80,3348.88
129,Склад 66,2014.00,7.00,7063.86,4159.42,11671.14
130,Склад 1,2014.00,7.00,9199.41,6336.55,13344.84
131,Склад 143,2014.00,7.00,9719.26,8734.13,9065.54
132,Склад 51,2014.00,7.00,4776.73,4973.99,8422.15
133,Склад 206,2014.00,8.00,4772.26,7231.28,5931.03
134,Склад 227,2014.00,8.00,6704.82,5225.88,7386.97
135,Склад 66,2014.00,8.00,4817.66,5519.71,7063.86
136,Склад 1,2014.00,8.00,6699.17,7460.07,9199.41
137,Склад 143,2014.00,8.00,8561.79,781.76,9719.26
138,Склад 51,2014.00,8.00,5297.67,1933.40,4776.73
139,Склад 23,2014.00,8.00,11277.52,6111.33,8524.46
140,Склад 206,2014.00,9.00,6471.57,6564.66,4772.26
141,Склад 143,2014.00,9.00,5625.78,8809.11,8561.79
142,Склад 66,2014.00,9.00,4775.11,8655.97,4817.66
143,Склад 51,2014.00,9.00,5686.38,6887.40,5297.67
144,Склад 23,2014.00,9.00,12967.93,11793.91,11277.52
145,Склад 1,2014.00,9.00,6821.31,5957.39,6699.17
146,Склад 227,2014.00,9.00,6489.34,4690.58,6704.82
147,Склад 227,2014.00,10.00,3596.53,3997.58,6489.34
148,Склад 206,2014.00,10.00,9648.31,5131.57,6471.57
149,Склад 66,2014.00,10.00,3941.94,7502.18,4775.11
150,Склад 23,2014.00,10.00,8957.05,9667.92,12967.93
151,Склад 143,2014.00,10.00,7981.91,9442.57,5625.78
152,Склад 1,2014.00,10.00,9127.04,7216.82,6821.31
153,Склад 51,2014.00,10.00,7726.88,3654.10,5686.38
154,Склад 1,2014.00,11.00,12913.79,8813.73,9127.04
155,Склад 227,2014.00,11.00,5715.48,5556.72,3596.53
156,Склад 143,2014.00,11.00,9426.82,9473.46,7981.91
157,Склад 66,2014.00,11.00,5863.91,11347.98,3941.94
158,Склад 206,2014.00,11.00,5924.21,6193.21,9648.31
159,Склад 51,2014.00,11.00,6047.05,5897.75,7726.88
160,Склад 23,2014.00,11.00,21501.87,13234.83,8957.05
161,Склад 143,2014.00,12.00,15172.58,5928.49,9426.82
162,Склад 23,2014.00,12.00,20725.68,7041.41,21501.87
163,Склад 227,2014.00,12.00,2970.18,6592.22,5715.48
164,Склад 1,2014.00,12.00,13081.30,7575.79,12913.79
165,Склад 51,2014.00,12.00,9645.40,7759.82,6047.05
166,Склад 206,2014.00,12.00,8574.83,8599.80,5924.21
167,Склад 66,2014.00,12.00,5096.26,15504.20,5863.91
168,Склад 143,2015.00,1.00,6524.47,7012.80,15172.58
169,Склад 23,2015.00,1.00,13169.22,16234.18,20725.68
170,Склад 51,2015.00,1.00,4515.50,4847.25,9645.40
171,Склад 227,2015.00,1.00,3843.93,4769.32,2970.18
172,Склад 1,2015.00,1.00,9632.18,6549.41,13081.30
173,Склад 66,2015.00,1.00,4555.04,5677.68,5096.26
174,Склад 206,2015.00,1.00,6272.26,4004.57,8574.83
175,Склад 23,2015.00,2.00,11481.36,9048.53,13169.22
176,Склад 143,2015.00,2.00,5645.05,10405.37,6524.47
177,Склад 227,2015.00,2.00,4848.05,6937.45,3843.93
178,Склад 1,2015.00,2.00,12036.43,10037.61,9632.18
179,Склад 206,2015.00,2.00,6576.16,6177.85,6272.26
180,Склад 51,2015.00,2.00,6337.83,6920.19,4515.50
181,Склад 66,2015.00,2.00,5649.23,8720.72,4555.04
182,Склад 66,2015.00,3.00,10190.79,9814.31,5649.23
183,Склад 1,2015.00,3.00,8018.28,7398.63,12036.43
184,Склад 143,2015.00,3.00,10831.96,14342.20,5645.05
185,Склад 206,2015.00,3.00,7517.13,4657.73,6576.16
186,Склад 23,2015.00,3.00,14043.85,12121.33,11481.36
187,Склад 227,2015.00,3.00,5902.69,5857.49,4848.05
188,Склад 51,2015.00,3.00,6655.32,5511.21,6337.83
189,Склад 1,2015.00,4.00,7650.12,13581.25,8018.28
190,Склад 66,2015.00,4.00,7840.67,4820.28,10190.79
191,Склад 206,2015.00,4.00,3476.73,5801.55,7517.13
192,Склад 227,2015.00,4.00,6379.27,5466.94,5902.69
193,Склад 23,2015.00,4.00,8725.22,13101.55,14043.85
194,Склад 143,2015.00,4.00,8681.06,4763.25,10831.96
195,Склад 51,2015.00,4.00,6826.74,6828.69,6655.32
196,Склад 66,2015.00,5.00,5172.88,4490.31,7840.67
197,Склад 51,2015.00,5.00,7953.48,6630.95,6826.74
198,Склад 143,2015.00,5.00,10335.22,6922.99,8681.06
199,Склад 206,2015.00,5.00,9710.41,4229.86,3476.73
200,Склад 227,2015.00,5.00,5759.88,4051.55,6379.27
201,Склад 23,2015.00,5.00,14765.23,12545.41,8725.22
202,Склад 1,2015.00,5.00,7965.98,6548.30,7650.12
203,Склад 23,2015.00,6.00,14971.95,9078.75,14765.23
204,Склад 206,2015.00,6.00,6413.29,3348.88,9710.41
205,Склад 66,2015.00,6.00,7352.13,11671.14,5172.88
206,Склад 227,2015.00,6.00,5895.26,5716.73,5759.88
207,Склад 1,2015.00,6.00,6778.61,13344.84,7965.98
208,Склад 51,2015.00,6.00,4084.42,8422.15,7953.48
209,Склад 143,2015.00,6.00,7211.99,9065.54,10335.22
210,Склад 23,2015.00,7.00,8241.52,8524.46,14971.95
211,Склад 143,2015.00,7.00,6698.67,9719.26,7211.99
212,Склад 1,2015.00,7.00,7791.06,9199.41,6778.61
213,Склад 206,2015.00,7.00,4883.58,5931.03,6413.29
214,Склад 51,2015.00,7.00,6155.09,4776.73,4084.42
215,Склад 227,2015.00,7.00,3274.75,7386.97,5895.26
216,Склад 66,2015.00,7.00,6140.13,7063.86,7352.13
217,Склад 143,2015.00,8.00,8066.37,8561.79,6698.67
218,Склад 227,2015.00,8.00,4830.91,6704.82,3274.75
219,Склад 23,2015.00,8.00,8362.65,11277.52,8241.52
220,Склад 1,2015.00,8.00,7856.45,6699.17,7791.06
221,Склад 51,2015.00,8.00,9275.67,5297.67,6155.09
222,Склад 206,2015.00,8.00,2661.24,4772.26,4883.58
223,Склад 66,2015.00,8.00,7875.48,4817.66,6140.13
224,Склад 227,2015.00,9.00,2651.45,6489.34,4830.91
225,Склад 143,2015.00,9.00,9565.36,5625.78,8066.37
226,Склад 206,2015.00,9.00,3946.77,6471.57,2661.24
227,Склад 23,2015.00,9.00,11775.92,12967.93,8362.65
228,Склад 51,2015.00,9.00,6191.33,5686.38,9275.67
229,Склад 1,2015.00,9.00,5941.45,6821.31,7856.45
230,Склад 66,2015.00,9.00,5717.97,4775.11,7875.48
231,Склад 23,2015.00,10.00,12433.92,8957.05,11775.92
232,Склад 51,2015.00,10.00,6209.12,7726.88,6191.33
233,Склад 206,2015.00,10.00,7453.57,9648.31,3946.77
234,Склад 1,2015.00,10.00,11046.51,9127.04,5941.45
235,Склад 227,2015.00,10.00,4387.49,3596.53,2651.45
236,Склад 143,2015.00,10.00,5733.52,7981.91,9565.36
237,Склад 66,2015.00,10.00,6494.27,3941.94,5717.97
238,Склад 66,2015.00,11.00,8875.04,5863.91,6494.27
239,Склад 227,2015.00,11.00,4819.58,5715.48,4387.49
240,Склад 51,2015.00,11.00,7744.60,6047.05,6209.12
241,Склад 206,2015.00,11.00,6708.51,5924.21,7453.57
242,Склад 23,2015.00,11.00,10855.99,21501.87,12433.92
243,Склад 143,2015.00,11.00,9129.68,9426.82,5733.52
244,Склад 1,2015.00,11.00,7381.81,12913.79,11046.51
245,Склад 51,2015.00,12.00,3483.94,9645.40,7744.60
246,Склад 1,2015.00,12.00,17859.21,13081.30,7381.81
247,Склад 206,2015.00,12.00,9869.84,8574.83,6708.51
248,Склад 143,2015.00,12.00,8907.53,15172.58,9129.68
249,Склад 227,2015.00,12.00,5749.99,2970.18,4819.58
250,Склад 66,2015.00,12.00,12192.22,5096.26,8875.04
251,Склад 23,2015.00,12.00,14856.61,20725.68,10855.99

In [122]:
df3.to_excel('Отчёт_помесячный.xlsx', index=False)

excel_filename = 'Отчёт_помесячный.xlsx'

FileLink(excel_filename)

C:\Windows\system32\Отчёт_помесячный.xlsx

Объеденим две полученных таблицы и первоначальную в один файл

In [123]:
output_file = 'MergedExcel.xlsx'
with pd.ExcelWriter(output_file) as writer:
    # Запишите каждую таблицу в свой лист
    df.to_excel(writer, sheet_name='Исходные данные', index=False)
    df1.to_excel(writer, sheet_name='Посуточный отчет', index=False)
    df2.to_excel(writer, sheet_name='Помесячный отчет', index=False)

excel_filename = 'MergedExcel.xlsx'

FileLink(excel_filename)

C:\Windows\system32\MergedExcel.xlsx